 
@media screen and (max-width:600px){
    body{
        background-color: rgb(41, 38, 38);
        
    }
    html{
        scroll-behavior: smooth;
    }
    header h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    position: relative;
    top: 3.2vh;
    }
    #navbar a:hover{
    background-color: whitesmoke;
    color: black;
    }
    #navbar a {
        color: #9fbbbd;
        margin: 9px 1px 6px 1px;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 2.2vh;
    }
    
    video{
      
     width: 96%;
     height: 25vh;
 position: relative;
 left: 0.1vw;

    }
    #scrollbtn{
        display: none;
        position: fixed;
        bottom: 20px;
        right: 10px;
        z-index: 99;
        font-size: 20px;
        opacity: 90%;
       border: none;
        outline: none;
        background-color: rgb(203, 203, 79);
        color:rgb(41, 38, 38);
        cursor: pointer;
      text-align: center;
      align-items: center;
      justify-content: center;
        border-radius: 65px;
        width: 50px;
        height: 50px;
        box-shadow: 0px 0px 10px rgb(203, 203, 79);
    }
    
    
    #top{
        position: relative;
        top:8vh;
    }
    #bio{
        font-size: 4vh;
        text-align: center;
        
        position: relative;
        top: 10.5vh;
        color: rgb(203, 203, 79);
    display: grid;
    width: 80vw;
     position: relative;
     left: 10vw;
        
    }
    
    #movi{
        font-size: 2.7vh;
        text-align: center;
        
        position: relative;
        top: 10.5vh;
        color: rgb(203, 203, 79);
    display: grid;
    width: 80vw;
     position: relative;
     left: 12vw;
    }
    #movieeee{
    
    width: 92.2vw;

        position: relative;
        
margin-left: 11px;
        margin-top: 1vh;
    }
    #moviline{
        position: relative;
        top: 10.9vh;
        width: 96vw;
        margin-left: 0.9vw;
    }
    #b2line{
        
        position: relative;
        top: 17.8vh;
        width: 96vw;
        margin-left: 1.2vw;
        
    }
    #bio
    {
        font-size: 4vh;
        text-align: center;
        
        position: relative;
        top: 12.5vh;
        color: rgb(203, 203, 79);
      
        align-items: center;
        justify-content: center;
        text-align:center;
    
    }
    #btn{
        top: 355.8vh;
        width: 13vw;
        height: 2vh;
        display: flex;
        font-size: 10px;
    }
    
    
    #paragraph{
    position: relative;
    top: 13.8vh;
    color:#9fbbbd;
    margin-left: 4px;
    letter-spacing: 1px;
        font-size:0.8rem;
        text-align:justify;
    display: table-cell;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Signika Negative', sans-serif;
    z-index: 1;
    }
    #insta{
        width: 5.5vw;
        height: auto;
        position: relative;
        top: 15.5vh;
        left: 26vw;
    }
    #twitter{
        width: 7vw;
        height: auto;
          top: 15.85vh;
          left: 33.2vw;
           position: relative;
    }#facebook{
        width: 5.3vw;
        height: auto;
        left: 41.5vw;
          top: 15.5vh;
           position: relative;
    }#youTube{
        width: 5.8vw;
        height: auto;
          top: 15.7vh;
          left: 51vw;
          
          position: relative;
    }
    #copyright{
        position: relative;
        top: 25vh;
       
        color: rgb(203, 203, 79);
        text-align: center;
        height: 3vh;
  
    }
    hr{
        position: relative;
        top: 15vh;
        color: black;
    }
    footer{
        box-shadow: 0px 25px 50px rgba(0,0,0,0.2);
        height: 15vh;
    }
    #icons{
        height: 10vh;
    }
    #aman{
        color: rgb(203, 203, 79);
        text-decoration: none;
    }
    }



    @media screen and(min-width:1020px) {
        * {
            margin: 0;
            font-family: 'Gentium Book Plus', serif;
            ;
            padding: 0;
        
        
        }
        html{
            scroll-behavior: smooth;
        }
        body {
            background-color: rgb(41, 38, 38);
            
        }
        
        
        header h1 {
            text-align: center;
            top: 2.5vh;
            justify-self: center;
            align-items: center;
            position: relative;
        
        
            color: rgb(203, 203, 79);
        
        }
        
        #navbar {
        
        
            position: relative;
            display: flex;
            height: 5vh;
            box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
            top: 6vh;
        }
        
        #navbar a {
            text-decoration: none;
            color: #9fbbbd;
            font-weight: bolder;
            margin: 1.2vh 0.5vw;
            width: 19.5vh;
            text-align: center;
            
        }
        #navbar a:hover{
        background-color: whitesmoke;
        color: black;
        border-radius: 10px;
        }
        #top{
            justify-content: center;
            color: whitesmoke;
            position: relative;
            top: 8.5vh;
            text-align: center;
        
        }
        a:active{
            background-color:whitesmoke;
        }
        video{
        width: 19vw;
        
        margin:0px 0px 0px 4px  ;
        padding: 0px 0px 0px 3px  ;
        top: 10vh;
        position: relative;
        }
        #scrollbtn{
        display: none;
            position: fixed;
            bottom: 20px;
            right: 10px;
            z-index: 99;
            font-size: 20px;
            opacity: 90%;
           border: none;
            outline: none;
            background-color: rgb(203, 203, 79);
            color:rgb(41, 38, 38);
            cursor: pointer;
          text-align: center;
          align-items: center;
          justify-content: center;
            border-radius: 65px;
            width: 50px;
            height: 50px;
            box-shadow: 0px 0px 10px rgb(203, 203, 79);
        
        }
        #scrollbtn a{
            list-style: none;
            text-decoration: none;
            text-align: center;
            align-items: center;
        }
        
        
        #movi{
            color: rgb(203, 203, 79);
            font-size: 5vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 10.5vh;
        position: relative;
        }
        #movieeee{
            width: 48vw;
        position: relative;
        top: 12vh;
        margin-top: 0vh;
        margin-left: 10px;
        
        
        }
        #moviline{
            position: relative;
            top: 10.2vh;
            width: 97vw;
            margin-left: 0.9vw;
        }
        #b2line{
            
            position: relative;
            top: 20.5vh;
            width: 96vw;
            margin-left: 1.2vw;
            
        }
        #bio{
            color: rgb(203, 203, 79);
            font-size: 5vh;
            justify-content: center;
            align-items: center;
            text-align: center;
            top: 14vh;
            position: relative;
            
        }
        
        
        
        #paragraph{
        position: relative;
        top: 15vh;
        color:#9fbbbd;
        margin-left: 4px;
        letter-spacing: 1px;
        
        font-size: 20px;
        font-family: 'Gentium Book Plus', serif;
        font-family: 'Signika Negative', sans-serif;
        }
        #insta{
            width: 1.5vw;
            height: auto;
            position: relative;
            top: 13vh;
            left: 42vw;
        }
        #twitter{
            width: 2vw;
            height: auto;
              top: 13.4vh;
              left: 44.2vw;
               position: relative;
        }#facebook{
            width: 1.6vw;
            height: auto;
            left: 46.5vw;
              top: 12.9vh;
               position: relative;
        }#youTube{
            width: 1.7vw;
            height: auto;
              top: 13.2vh;
              left: 49vw;
              
              position: relative;
        }
        #copyright{
            position: relative;
            top: 30vh;
           
            color: rgb(203, 203, 79);
            text-align: center;
            height: 10vh;
            font-size: small;
        }
        
        footer{
            box-shadow: 0px 25px 50px rgba(0,0,0,0.2);
            height: 15vh;
        }
        #aman{
            color: rgb(203, 203, 79);
            text-decoration: none;
            text-align: center;
            justify-content: center;
            align-items: center;
            position: relative;
            left: 0.45vw;
        }
    }
