@media screen and (max-width:1000px){
body{
    background-color: rgb(41, 38, 38);
}
header h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 2em;
position: relative;
top: 3.2vh;
}
#navbar a:active{
background-color: whitesmoke;
color: black;
}
#navbar a {
    color: #9fbbbd;
    margin: 9px 1px 6px 1px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2.2vh;
}

video{
  
 width: 96%;
 height: auto;
 position: relative;
 left: 1px;
}


#top{
    position: relative;
    top:8vh;
}
#bio{
    font-size: 4vh;
    text-align: center;
    
    position: relative;
    top: 10.5vh;
    color: rgb(203, 203, 79);
display: grid;
width: 80vw;
 position: relative;
 left: 10vw;
    
}

#movi{
    font-size: 2.7vh;
    text-align: center;
    
    position: relative;
    top: 10.5vh;
    color: rgb(203, 203, 79);
display: grid;
width: 80vw;
 position: relative;
 left: 10vw;
}
#movieeee{
    width: 95vw;
    margin-top: 1vh;
}
#moviline{
    position: relative;
    top: 10.9vh;
    width: 96vw;
    margin-left: 0.9vw;
}
#b2line{
    
    position: relative;
    top: 17.8vh;
    width: 96vw;
    margin-left: 1.2vw;
    
}
#bio
{
    font-size: 4vh;
    text-align: center;
    
    position: relative;
    top: 12.5vh;
    color: rgb(203, 203, 79);
  
    align-items: center;
    justify-content: center;
    text-align:center;

}
#btn{
    top: 355.8vh;
    width: 13vw;
    height: 2vh;
    display: flex;
    font-size: 10px;
}


#paragraph{
position: relative;
top: 13.8vh;
color:#9fbbbd;
margin-left: 4px;

    font-size:0.8rem;
    text-align:justify;
display: table-cell;
font-family: 'Gentium Book Plus', serif;
font-family: 'Signika Negative', sans-serif;
z-index: 1;
}
#insta{
    width: 5.5vw;
    height: auto;
    position: relative;
    top: 15.5vh;
    left: 26vw;
}
#twitter{
    width: 7vw;
    height: auto;
      top: 15.85vh;
      left: 33.2vw;
       position: relative;
}#facebook{
    width: 5.3vw;
    height: auto;
    left: 41.5vw;
      top: 15.5vh;
       position: relative;
}#youTube{
    width: 5.8vw;
    height: auto;
      top: 15.7vh;
      left: 51vw;
      
      position: relative;
}
#copyright{
    position: relative;
    top: 25vh;
   
    color: rgb(203, 203, 79);
    text-align: center;
    height: 3vh;
}
hr{
    position: relative;
    top: 15vh;
    color: black;
}
footer{
    box-shadow: 0px 25px 50px rgba(0,0,0,0.2);
    height: 15vh;
}
#icons{
    height: 10vh;
}
}
